__pycache__
human_model_output/
!fit_data/
fit_data/*
!fit_data/old
!fit_data/unit_testing
!plots/
plots/*
!plots/old
!param_fit_output
param_fit_output/*
!param_fit_output/old
aux_fit_data_code/
!LLM_output/
LLM_output/*
!LLM_output/old
